<form [formGroup]="carForm" (ngSubmit)="submitForm()" class="mat-elevation-z8">
    <mat-form-field class="full-width">
      <mat-label>Make</mat-label>
      <input matInput formControlName="make" required>
    </mat-form-field>
  
    <mat-form-field class="full-width">
      <mat-label>Model</mat-label>
      <input matInput formControlName="model" required>
    </mat-form-field>
  
    <mat-form-field class="full-width">
      <mat-label>Year</mat-label>
      <input matInput formControlName="year" required pattern="^[0-9]{4}$">
    </mat-form-field>
  
    <button mat-raised-button color="primary" type="submit">Submit</button>
  </form>
  